<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="css/main_style.css">
</head>
<body>
	<center><div class="wrapper">
		<h1>Login to evaluate the course</h1>

	<form method = "post">
		<div class="div_container">
		<label for="stud_email">Email</label><br>
		<input type="text" size="30" placeholder="Email" name="stud_email"><br />
		<label for="password">Password</label><br>
		<input type="password" size="30" placeholder="Enter your password" name="password"><br />
		<input type="submit" value="Login" name="submit">

	</form>
	</div></center>

</body>

</html>
