<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel="stylesheet" href="css/main_style.css">
</head>
<body>
	<center><div class="wrapper">
	<h1><%= title %>, <%= stud_email %></h1>
	<hr>
	<p><b>We appreciate your comments:</b> "<%= stud_comment %>"</p>
</div></center>
</body>

</html>
